@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v90/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    width: 100%;
    margin-bottom: 15%;
}

.image {
    text-align: center;
}

.form {
    margin: auto;
    width: 37rem;
}

.searchBar {
    position: relative;
    margin: 30px 0;
}

.searchBar input {
    width: 100%;
    display: inline-block;
    height: 44px;
    border-start-start-radius: 60px;
    border-end-start-radius: 60px;
    border-start-end-radius: 60px;
    border-end-end-radius: 60px;
    border: 1px solid rgb(197, 197, 197);
    padding: 0 40px;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input:hover {
    box-shadow: 0 1px 2px 1px rgb(226, 226, 226);
}

.searchBar .search {
    color: rgb(173, 173, 173);
    font-size: 125%;
    position: absolute;
    top: 12px;
    left: 16px;
}

.searchBar .mic {
    color: rgb(173, 173, 173);
    font-size: 150%;
    position: absolute;
    right: 22px;
    top: 10px;
}

.searchBar .mic:hover {
    cursor: pointer;
}

.buttons {
    text-align: center;
    width: 100%;
}

.buttons button {
    display: inline-block;
    margin: 0 5px;
    width: 8rem;
    height: 35px;
    background-color: rgb(245, 244, 244);
    color: rgb(83, 83, 83);
    border: none;
    font-size: 88%;
}

.buttons button:hover {
    box-shadow: 0 1px 2px 1px rgb(226, 226, 226);
}

.header, .footer {
    align-self: stretch;
}

.header {
    height: 48px;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.nav li {
    margin: 0 10px;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.nav li:nth-child(3) {
    color: rgb(121, 121, 121);
    align-self: flex-end;
    margin-bottom: 3px;
}

.nav li img {
    border-radius: 50%;
    margin-top: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgb(238, 237, 237);
}

.footer ul {
    list-style: none;
    display: flex;
}

.footer li {
    margin: 15px 12px;
}

.footer li a {
    text-decoration: none;
    color: rgb(114, 113, 113);
    font-size: 90%;
}

.footer li a:hover,
.nav li a:hover {
    text-decoration: underline;
}

@media all and (max-width: 650px) {
    main {
        margin-bottom: 34%;
    }
    
    .form {
        width: 95%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width: 415px) {
    .image img {
        width: 50%;
    }
    .footer {
        font-size: 80%;
    }
    .footer .right {
        display: none;
    }
}